<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bedroom.dao.AffairChangeDao">
	
	<insert id="apply"  parameterType="AffairChange">
		insert into affair_change
		(
			stu_account,
			cur_bedroom_id,
			target_bedroom_id,
			apply_reason,
			affair_status,
			apply_time
		)	
		values(
			#{stuAccount},
			#{curBedroomId},
			#{targetBedroomId},
			#{applyReason},
			'0',
			now()
		)
	</insert>
	
	<select id="getHistoryList" parameterType="String"  resultType="AffairChange">
		select * from affair_change
		<where>
			stu_account = #{stuAccount}
		</where>
	</select>
</mapper>