<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bedroom.dao.AffairChangeDao">
	
	<insert id="apply"  parameterType="AffairChange">
		insert into affair_change
		(
			stu_account,
			cur_bedroom_id,
			target_bedroom_id,
			apply_reason,
			affair_status,
			apply_time
		)	
		values(
			#{stuAccount},
			#{curBedroomId},
			#{targetBedroomId},
			#{applyReason},
			'0',
			now()
		)
	</insert>
	
	<select id="getHistoryList" parameterType="String"  resultType="AffairChange">
		select * from affair_change
		<where>
			stu_account = #{stuAccount}
		</where>
	</select>
	
	<select id="getAllChangeToReply" parameterType="String" resultType="AffairChange">
		select c.*,user.user_name stu_name from affair_change c left join bedroom b on c.cur_bedroom_id = b.bedroom_id
		left join building bu on b.building_id = bu.building_id
		left join user on user.user_account = c.stu_account
		<where>
		 bu.building_id in (select building_id from building_manager where manager_account=#{userAccount})
		</where> 
	</select>
	
	<delete id="delete">
		delete from affair_change
		<where>
			affair_id = #{affairId}
		</where>
	</delete>
	<update id="replyChange">
		update affair_change
		<set>
			reply_reason = #{replyReason},affair_status = #{affairStatus},reply_time=now()
		</set>
		<where>
			affair_id = #{affairId}
		</where>
	</update>
</mapper>