<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bedroom.dao.AffairStayOrLeaveDao">
	
	<!-- #申请离校申请,插入数据 -->
	<insert id="stuApplyLeaveSchool"  parameterType="AffairStayOrLeave">
	insert into affair_stay_or_leave(stu_account,start_time,end_time,apply_reason,affair_status,apply_time,sta_lev)  
       values(#{stuAccount},#{startTime},#{endTime},#{applyReason},'0',now(),'0')
	</insert>
	
	<!-- #申请留校申请,插入数据 -->
	<insert id="stuApplyStaySchool"  parameterType="AffairStayOrLeave">
	insert into affair_stay_or_leave(stu_account,start_time,end_time,apply_reason,affair_status,apply_time,sta_lev)  
       values(#{stuAccount},#{startTime},#{endTime},#{applyReason},'0',now(),'1')
	</insert>
	
	<!-- #查看自己申请的离校信息(未被审核) -->
	<select id="showApplyLeaveInfo"  parameterType="String"  resultType="AffairStayOrLeave">
		select * from affair_stay_or_leave  where stu_account=#{stuAccount} and affair_status='0' 	
	</select>
	
	<!-- #删除自己申请的离校申请 -->
	<delete id="removeApplyLeaveSchool"  parameterType="Integer">
		delete from affair_stay_or_leave where affair_id=#{affairId}	
	</delete>
	
	<!-- #查看自己留校信息 -->
	<select id="showApplyStayInfo"  resultType="AffairStayOrLeave"  parameterType="String">
		select * from affair_stay_or_leave where  stu_account=#{stuAccount} and  sta_lev='1'	
	</select>
	
	
</mapper>