<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>欢迎登陆...</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/css/style.css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" href="../static/css/reset.css"  th:href="@{/css/reset.css}"/>
</head>
<body>

<div id="particles-js">
		<div class="login" >
			<div class="login-top">登录</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="img/name.png"/></div>
				<div class="login-center-input">
					<input type="text" id="inputName" value="1001001001" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="img/password.png"/></div>
				<div class="login-center-input">
					<input type="password" id="inputPassword" value="123456" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-button" id="login-button">
				登录
			</div>
		</div>
</div>

<!-- scripts -->
<script src="../static/js/query/jquery-3.3.1.js"  th:src="@{/js/query/jquery-3.3.1.js}"></script>
<script src="../static/js/particles.min.js"  th:src="@{/js/particles.min.js}"></script>
<script src="../static/js/app.js"  th:src="@{/js/app.js}"></script>
<script src="../static/myjs/login.js"  th:src="@{/myjs/login.js}"></script>
</body>
</html>