<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人信息维护</title>

<link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}" type="text/css" />
<link href="../static/js/editor/css/font-awesome.min.css" th:href="@{/js/editor/css/font-awesome.min.css}"  rel="stylesheet" type="text/css" />
<link href="../static/js/editor/css/froala_editor.min.css" th:href="@{/js/editor/css/froala_editor.min.css}" rel="stylesheet" type="text/css" />
 <link th:href="@{/css/bootstrap/bootstrap.min.css}" href="../static/css/bootstrap/bootstrap.min.css"  rel="stylesheet" type="text/css" />

</head>

<body style="background-color: #e6ecf5">
<div class="book_con01">

    <h1 class="book_h01">个人详情</h1>
    <p class="book_p">
		   <table class="book_table" border="1" cellpadding="10">
		    <tr>
		        <td>
		        	<label class="td_label">账号</label>
		    	</td> 
		    		<!-- class="reead"  -->
		        <td  th:text="${session.user.userAccount}"></td>
		    </tr>
		    <tr>
		    	 <td>
		            <label class="td_label">用户名</label>
		        </td>
		        <td  th:text="(${session.user.userName}==null) ? '待完善':${session.user.userName}"></td>
		    </tr>
		    <tr>
			    <td>
			        <label class="td_label">昵称</label>
			    </td>
		        <td  th:text="(${session.user.userNickname}==null) ? '待完善':${session.user.userNickname}" ></td>
		    </tr>
		    <tr>
		    	<td>
		            <label class="td_label">电话</label>
		        </td>
		        <td  th:text="(${session.user.userPhone}==null) ? '待完善':${session.user.userPhone}"></td>
		    </tr>
		    <tr>
		    	 <td>
		            <label class="td_label">性别</label>
		        </td>
		        <td  th:text="(${session.user.userSex}==null) ? '待完善':${session.user.userSex}"></td>
		    </tr>
		    <tr>
		    	<td>
			        <label class="td_label">年龄</label>
			    </td>
		        <td  th:text="(${session.user.userAge}==null) ? '待完善':${session.user.userAge}" ></td>
		    </tr>
		    <tr>
		    	 <td>
		            <label class="td_label">学院</label>
		        </td>
		        <td  th:text="(${session.user.userCollegeName}==null) ? '待完善':${session.user.userCollegeName}"></td>
		    </tr>
		    <tr>
		    	<td>
			        <label class="td_label">年级</label>
			    </td>
		        <td  th:text="(${session.user.gradeLevel}==null) ? '待完善':${session.user.gradeLevel}" ></td>
		    </tr>
		    <tr>
		    	 <td>
		            <label class="td_label">创建时间</label>
		        </td>
		        <td  th:text="(${session.user.userFoundtime}==null) ? '待完善':${session.user.userFoundtime}"></td>
		    </tr>
		    <tr>
		    	<td>
			        <label class="td_label">等级</label>
			    </td>
		        <td   th:text="(${session.user.userLevel}=='0') ? '学生':( (${session.user.userLevel}=='1') ? '教师':'宿舍管理员' )" ></td>
		    </tr>
		<!-- 
		        <td><label class="td_label">密码</label></td>
		        <td colspan="3">
		            <input type="text" class="book_input03" />
		    </td> -->
		    
		    <tr>
			    <td>
			    	<p class="book_foot">
				    <input type="button" value="修改"  data-toggle="modal"  id="update-modal"/>
					</p>
			    </td>
		    </tr>
		    
		</table>
    </p>
    	
    	
		
		
		<!-- 模态框 -->
		<div aria-labelledby="myModalLabel" class="modal fade bs-example-modal-lg" id="my-modal-update" role="dialog" >
	        <div class="modal-dialog modal-lg" role="document">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <h4 class="modal-title" >用户信息修改</h4>  <!-- id="myModalLabel" -->
		                </div>
		                <div class="modal-body" id="modalBody">
		                	<div>
			                	<label class="td_label">用户名</label>
			                	<input id="name" type="text" class="book_input03" th:value="(${session.user.userName}==null) ? '无':${session.user.userName}"/>
		                	</div>
		                	<div>
			                	<label class="td_label">密码</label>
			                	<input id="pwd" type="password" class="book_input03" th:value="(${session.user.userPassword}==null) ? '无':${session.user.userPassword}"/>
		                	</div>
		                	<div>
			                	<label class="td_label">昵称</label>
			                	<input id="nickname" type="text" class="book_input03" th:value="(${session.user.userNickname}==null) ? '无':${session.user.userNickname}"/>
		                	</div>
		                	<div>
			                	<label class="td_label">性别</label>
			                	<input id="sex" type="text" class="book_input03" th:value="(${session.user.userSex}==null) ? '无':${session.user.userSex}"/>
		                	</div>
		                	<div>
			                	<label class="td_label">年龄</label>
			                	<input id="age" type="text" class="book_input03" th:value="(${session.user.userAge}==null) ? '无':${session.user.userAge}"/>
		                	</div>
		                	<div>
			                	<label class="td_label">电话</label>
			                	<input id="phone" type="text" class="book_input03" th:value="(${session.user.userPhone}==null) ? '无':${session.user.userPhone}"/>
		                	</div>
		                	<div>
			                	<label class="td_label">学院</label>
			                	<input id="college" type="text" class="book_input03"  th:value="(${session.user.userCollegeName}==null) ? '无':${session.user.userCollegeName}"/>
		                	</div>
		                </div>
		                <div class="modal-footer">
		                	<button  data-dismiss="modal" type="button"  id="update-userinfo-modalbuttom">确认</button>	
		                    <button  data-dismiss="modal" type="button">取消</button>
		                </div>
		            </div>
	        </div>
      </div>
		
		
</div>

	



<script  src="../static/js/jquery/jQuery-2.2.0.min.js" th:src="@{/js/jquery/jQuery-2.2.0.min.js}" ></script>
<script src="../static/js/bootstrap.min.js"  th:src="@{/js/bootstrap.min.js}" ></script>

<script src="../static/js/editor/js/froala_editor.min.js"  th:src="@{/js/editor/js/froala_editor.min.js}" ></script>
<script src="../static/js/editor/js/plugins/tables.min.js"  th:src="@{/js/editor/js/plugins/tables.min.js}"></script>
<script src="../static/js/editor/js/plugins/lists.min.js" th:src="@{/js/editor/js/plugins/lists.min.js}"></script>
<script src="../static/js/editor/js/plugins/colors.min.js" th:src="@{/js/editor/js/plugins/colors.min.js}"></script>

<script src="../static/myjs/myMessage.js" th:src="@{/myjs/myMessage.js}"></script>

</body>
</html>
