
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
<title></title>

<link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}" type="text/css"/>
<link href="../static/js/bstable/css/bootstrap.min.css" th:href="@{/js/bstable/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<link href="../static/js/bstable/css/bootstrap-table.css" th:href="@{/js/bstable/css/bootstrap-table.css}" rel="stylesheet" type="text/css"/>
<link href="../static/css/mycss/notice.css" th:href="@{/css/mycss/notice.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

  <div class="div_find all-top">
  		寝室详情
  </div>
  <div class="all-middle" id="all-middle">
  	<div class="left-div">
  		<div class="classroom-code">东四-B-119</div>
  		<div class="classroom-memebers">
  			<div class="classroom-members-title">寝室成员</div>
  			<div class="classroom-members-row">
  				<span class="members-row-name">李思呈</span>
  				<span class="members-row-sex">男</span>
  				<span class="members-row-account">5120153185</span>
  				<span class="members-row-college">理学院</span>
  				<span class="members-row-grade">15级</span>
  			</div>
  		</div>
  	</div>
  	<div class="right-div">
  		<div class="display-board-title">信息展示</div>
  		<div class="display-board-body">
  			<div class="board-body-row">123</div>
  			<div class="board-body-row">345</div>
  			<div class="board-body-row">25</div>
  		</div>
  	</div>
  </div>
  <div class="all-bottom" id="all-bottom">
  	<div class="bottom-left"><span class="bottom-left-title">报修</span></div>
  	<div class="bottom-middle"><span class="bottom-middle-title">缴费</span></div>
  	<div class="bottom-right"><span class="bottom-right-title">通知</span></div>
  </div>
<script src="../static/js/jquery/jQuery-2.2.0.min.js" th:src="@{/js/jquery/jQuery-2.2.0.min.js}"></script>
<script src="../static/js/bstable/js/bootstrap.min.js" th:src="@{/js/bstable/js/bootstrap.min.js}"></script>
<script src="../static/js/bstable/js/bootstrap-table.js"  th:src="@{/js/bstable/js/bootstrap-table.js}"></script>
<script src="../static/js/bstable/js/bootstrap-table-zh-CN.min.js" th:src="@{/js/bstable/js/bootstrap-table-zh-CN.min.js}"></script>

<script src="../static/js/date/js/laydate.js"  th:src="@{/js/date/js/laydate.js}"></script>

<script>
    !function(){
        laydate.skin('danlan');//切换皮肤，请查看skins下面皮肤库
        laydate({elem: '#demo'});
        laydate({elem: '#demo1'});//绑定元素
    }();
</script>
</body>
</html>
