<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>寝室交换申请</title>
<link th:href="@{/css/mycss/supportFind.css}" href="../static/css/mycss/supportFind.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="apply_submit_div">
		<div id="apply_submit_div_title">学生寝室交换申请</div>
		<div class="info">
			<label for="stu_name">学生姓名</label>
			<input type="text" name="stu_name" value="滕云飞" disabled="disabled"/>
		</div>
		<div class="info">
			<label for="stu_account">学生学号</label>
			<input name="stu_account" value="5120155527" disabled="disabled"/>
		</div>
		<div class="info">
			<label for="building_code">当前寝室</label>
			<select name="building_code">
				<option value="1">西一</option>
				<option value="2">西二</option>
				<option value="2">西三</option>
				<option value="3">西四</option>
			</select>栋
			<select name="unit">
				<option value="A">A</option>
				<option value="B">B</option>
			</select>单元
			<select name="bedroom_code">
				<option value="119">119</option>
				<option value="120">120</option>
				<option value="121">121</option>
				<option value="122">122</option>
			</select>号
		</div>
		<div class="info">
			<label for="building_code_target">目标寝室</label>
			<select name="building_code_target">
				<option value="1">东一</option>
				<option value="2">东二</option>
				<option value="2">东三</option>
				<option value="3">东四</option>
			</select>栋
			<select name="unit_target">
				<option value="A">A</option>
				<option value="B">B</option>
			</select>单元
			<select name="bedroom_code_target">
				<option value="119">119</option>
				<option value="120">120</option>
				<option value="121">121</option>
				<option value="122">122</option>
			</select>号
		</div>
		<div class="info">
			<label for="apply_reason">申请原因</label><br/>
			<textarea name="apply_reason" cols="30" rows="5" style="margin-left:5em;"></textarea>
		</div>
		<div class="info">
			<input type="submit" value="提交申请"></input>
		</div>
	</div>
</body>
</html>